In [6]:
import pandas as pd
import os

# Data loading

In [72]:
path = os.getcwd()
path_to_folder = os.path.join(path, "english datasets")

# https://www.kaggle.com/datasets/ashwiniyer176/toxic-tweets-dataset
# tweet is toxic(1) or not(0)
dataset1 = pd.read_csv(os.path.join(path_to_folder, "toxic-tweets-dataset.csv"))
dataset1.head()

   Unnamed: 0  Toxicity                                              tweet
0           0         0   @user when a father is dysfunctional and is s...
1           1         0  @user @user thanks for #lyft credit i can't us...
2           2         0                                bihday your majesty
3           3         0  #model   i love u take with u all the time in ...
4           4         0             factsguide: society now    #motivation

In [32]:
dataset1.shape

(56745, 3)

In [73]:
# https://www.kaggle.com/datasets/mrmorj/hate-speech-and-offensive-language-dataset
#  0 - hate speech 1 - offensive language 2 - neither
dataset2 = pd.read_csv(os.path.join(path_to_folder, "hate-speech-and-offensive-language-dataset.csv"))
dataset2.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [35]:
dataset2.shape

(24783, 7)

# Data preprocessing

## Datasets merging

In [74]:
dataset1 = dataset1.drop(dataset1.columns[0], axis = 1)

In [76]:
# tweet is toxic(1) or not(0)
dataset1 = dataset1.rename(columns={"Toxicity": "class"})

In [77]:
dataset2 = dataset2[["class", "tweet"]]
# 4163 non hate and offensive tweets
dataset2["class"].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64

In [78]:
dataset2.loc[dataset2["class"] == 0, "class"] = 1
dataset2.loc[dataset2["class"] == 2, "class"] = 0

In [65]:
dataset2["class"].value_counts()

1    20620
0     4163
Name: class, dtype: int64

now class 1 is normal tweets and class 0 is toxic/hate/offensive tweets

In [89]:
df = pd.concat([dataset1, dataset2])

# slightly imbalanced (55% vs 45%)
df["class"].value_counts()

1    44773
0    36755
Name: class, dtype: int64

In [94]:
df

       class                                              tweet
0          0   @user when a father is dysfunctional and is s...
1          0  @user @user thanks for #lyft credit i can't us...
2          0                                bihday your majesty
3          0  #model   i love u take with u all the time in ...
4          0             factsguide: society now    #motivation
...      ...                                                ...
24778      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779      0  you've gone and broke the wrong heart baby, an...
24780      1  young buck wanna eat!!.. dat nigguh like I ain...
24781      1              youu got wild bitches tellin you lies
24782      0  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[81528 rows x 2 columns]

## Data cleaning and transformation